.task-page {
  $paddingSize: 5rem;

  .cover {
    padding: $paddingSize 0;
    .special {
      color: #7579e7;
    }
  }

  .overview {
    padding: $paddingSize 0;
    text-align: center;

    .overview-feature {
      color: grey;
    }
  }

  .playground {
    padding: $paddingSize 0;
    .playground-header {
      text-align: center;
    }

    .task-card {
      min-height: 18rem;

      .add-task-button__body {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &:hover {
          cursor: pointer;
        }
      }

      .task-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }
}
